<h1> Tasks </h1>
<% @tasks.each do |task| %>
  <ul>
    <li> 
      <% if task.completed %>
        <input type="checkbox" checked disabled> 
      <% else %>
        <input type="checkbox" unchecked disabled>
      <% end %>
      <%= link_to task["title"], task_path(task) %>
      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
<% end %>

<%= link_to "Create new task", new_task_path %>