// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color: gray;
  font-size: 30px;
  font-family: sans-serif;
}